@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');


// Colores
$color-primary: #88939B;
$color-secondary: #2A2A2A;
$color-warning: #e09f3e;
$color-error: #540b0e;
$color-success: #008000;
$color-text: #333;
$color-grayLight: #F2F3F4;
$color-blue: #56BCF5;

$color-text-background: #fff3b0a8;

// Fuentes
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;

// Breakpoints
$breakpoint-sm: 960px;

$value: 100%
